body {
    display: flex;
}

#csscontent {
    border: 1px solid #aaaaaa;
    height: 12em;
    width: 12em;
    padding: 1em;
}

#cssspinner {
    height: 10em;
    background-color: #aaaaaa;
}

#svgcontent {
    border: 1px solid #aaaaaa;
    height: 48em;
    width: 48em;
    padding: 1em;
}

.svgspinner {
    fill: none;
    stroke: black;
}